<!DOCTYPE html>
<html>
  <head>
    <title>PhotogramFinal</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
        <div>
      <nav>
        <ul>
          <li>
            <a href="/users">All Users</a>
          </li>
          <li>
            <a href="/photos">All Public Photos</a>
          </li>

          <% if session[:user_id] == nil %>
            <li>
              <a href="/user_sign_in">Sign In</a>
             </li>
            <li>
              <a href="/user_sign_up">Sign Up</a>
             </li>
            <% else %>
              <li>
                <% @user.username %>
              </li>
              <li>
                <a href="/user_sign_out">Sign Out</>
              </li>
            <% end %>
        </ul>
      </nav>
    </div>

    <%= alert %>
    <%= yield %>
  </body>
</html>
